<div class="header">
    <mat-toolbar color="primary" [class.mat-elevation-z4]="'true'" class="toolbar">
        <span>
            <button mat-button (click)="scrollTop()" class="text">
                Home
            </button>
            <button mat-button (click)="scrollBottom()" class="text">
                Contact
            </button>
        </span>
        <span class="spacer"></span>
        <span class="myName">
            James Jumawan
        </span>
        <span class="spacer"></span>
        <span class="text">
            <a mat-icon-button href="https://www.facebook.com/jeymsie" target="_blank" title="Facebook" class="white-icon">
                <mat-icon svgIcon='facebook' color="primary"></mat-icon>
            </a>
            <a mat-icon-button href="https://twitter.com/jeymsie" target="_blank" title="Twitter" class="white-icon">
                <mat-icon svgIcon='twitter' color="primary"></mat-icon>
            </a>
            <a mat-icon-button href="https://instagram.com/jeymsieee" target="_blank" title="Instagram" class="white-icon">
                <mat-icon svgIcon='instagram' color="primary"></mat-icon>
            </a>
            
        </span>
    </mat-toolbar>
</div> 