<div class="header">
    <mat-toolbar color="primary">
        <span>
            <button mat-button (click)="scrollTop()">
                Home
            </button>
            <button mat-button (click)="scrollBottom()">
                Contact
            </button>
        </span>
        <span class="spacer"></span>
        <span>
            James Jumawan
        </span>
        <span class="spacer"></span>
        <span>
            [soc med links]
        </span>
    </mat-toolbar>
</div>