<div fxLayoutAlign="center center" [@ballOne]='ballState' class="ball">
    <div fxLayoutAlign="center center" [@ballOneWrapper] class="ballModel">
        <mat-icon color="accent">gps_fixed</mat-icon>
    </div>
</div>

<div fxLayoutAlign="center center" [@ballTwo]='ballState' class="ball">
    <div fxLayoutAlign="center center" [@ballTwoWrapper] class="ballModel">
        <mat-icon color="accent">gps_fixed</mat-icon>
    </div>
</div>

<div fxLayoutAlign="center center" [@ballThree]='ballState' class="ball">
    <div fxLayoutAlign="center center" [@ballThreeWrapper] class="ballModel">
        <mat-icon color="accent">gps_fixed</mat-icon>
    </div>
</div>

<div fxLayoutAlign="center center" [@ballFour]='ballState' class="ball">
    <div fxLayoutAlign="center center" [@ballFourWrapper] class="ballModel">
        <mat-icon color="accent">gps_fixed</mat-icon>
    </div>
</div>



<div [style.position]="'fixed'" [style.top]="'75px'">
    <button (click)="testFunc()">
        click me 1
    </button>
</div>
