<div fxLayoutAlign="center center" 
    [style.transform]="'translateX(25px)'"
    class="ball one-idle"
    id="one"
    #one>
        <mat-icon color="accent">gps_fixed</mat-icon>
    </div>

<div fxLayoutAlign="center center" 
    class="ball two-idle"
    id="two">
        <mat-icon color="accent">gps_fixed</mat-icon>
</div>

<div fxLayoutAlign="center center" 
    class="ball three-idle"
    id="three">
        <mat-icon color="accent">gps_fixed</mat-icon>
</div>

<div fxLayoutAlign="center center" 
    class="ball four-idle"
    id="four">
        <mat-icon color="accent">gps_fixed</mat-icon>
</div>

<button (click)="testFunc()">
    <br><br><br><br><br><br><br><br><br><br><br><br>
    click me 1
</button>
