<div class="first set">
    <div class="subtitle">
        About Me
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center center" class="text">
        <div></div>
        <div class="bold">
            I'm...
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="text">
        <div class="aboutSideSpacer"></div>
        <div class="about" id="about1">
            a Computer Engineering Student. <br>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="text">
        <div class="aboutSideSpacer"></div>
        <div class="about" id="about2">
            a fast learner. <br>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="text">
        <div class="aboutSideSpacer"></div>
        <div class="about" id="about3">
            good at mathematics. <br>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="text">
        <div class="aboutSideSpacer"></div>
        <div class="about" id="about4">
            a logical thinker. <br>
        </div>
    </div>

    
</div>

<div class="set">
    <div class="subtitle">
        Programming Languages
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column tableHeader">

        </div>
        <div class="column tableHeader">

        </div>
        <div class="column tableHeader">
            Beginner
        </div>
        <div class="column tableHeader">
            Elementary
        </div>
        <div class="column tableHeader">
            Intermediate
        </div>
        <div class="column tableHeader">
            Advanced
        </div>
        <div class="column tableHeader">
            Master
        </div>
        <div class="graphSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column rightAlign">
            C++
        </div>
        <div class="column">

        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="graphSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column rightAlign">
            C#
        </div>
        <div class="column">

        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="graphSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column rightAlign">
            Java
        </div>
        <div class="column">

        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="graphSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column rightAlign">
            Python
        </div>
        <div class="column">

        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="graphSideSpacer"></div>
    </div>
</div>

<div class="set">
    <div class="subtitle">
        Web Development Languages
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column tableHeader">

        </div>
        <div class="column tableHeader">

        </div>
        <div class="column tableHeader">
            Beginner
        </div>
        <div class="column tableHeader">
            Elementary
        </div>
        <div class="column tableHeader">
            Intermediate
        </div>
        <div class="column tableHeader">
            Advanced
        </div>
        <div class="column tableHeader">
            Master
        </div>
        <div class="graphSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column rightAlign">
            HTML
        </div>
        <div class="column">

        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="graphSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column rightAlign">
            CSS
        </div>
        <div class="column">

        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="graphSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column rightAlign">
            TypeScript
        </div>
        <div class="column">

        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="graphSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="row">
        <div class="graphSideSpacer">.</div>
        <div class="column rightAlign">
            JavaScript
        </div>
        <div class="column">

        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="column icon">
            <mat-icon>gps_not_fixed</mat-icon>
        </div>
        <div class="graphSideSpacer"></div>
    </div>
</div>

<div class="set">
    <div class="subtitle">
        Educational Background
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch">
        <div class="eduSideSpacer"></div>
        <div fxLayout="row" fxLayoutAlign="center" class="edu">
            <div class="eduInner rightAlign">
                Junior High School
            </div>
            <div class="eduInner text">
                Bohol Island State University - Main Campus
            </div>
        </div>
        <div class="eduSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch">
        <div class="eduSideSpacer"></div>
        <div fxLayout="row" fxLayoutAlign="center" class="edu">
            <div class="eduInner rightAlign">
                Senior High School
            </div>
            <div class="eduInner text">
                Tagbilaran City Science High School
            </div>
        </div>
        <div class="eduSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch">
        <div class="eduSideSpacer"></div>
        <div fxLayout="row" fxLayoutAlign="center" class="edu">
            <div class="eduInner rightAlign">
                College
            </div>
            <div class="eduInner text">
                Bohol Island State University - Main Campus
            </div>
        </div>
        <div class="eduSideSpacer"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch">
        <div class="eduSideSpacer"></div>
        <div fxLayout="row" fxLayoutAlign="center" class="edu">
            <div class="eduInner rightAlign">
                
            </div>
            <div class="eduInner text">
                [Currently studying Computer Engineering]
            </div>
        </div>
        <div class="eduSideSpacer"></div>
    </div>
</div>