<div class="first set">
    <div class="subtitle">
        About Me
    </div>
    
    <div fxLayoutAlign="center center" class="text indented" >
        I'm... <br>
        a Computer Engineering student. <br>
        a fast learner. <br>
        a logical thinker. <br>
        a problem solver. <br>
    </div>
</div>

<div class="set">
    <div class="subtitle">
        Programming Languages
    </div>

    <div fxLayout="row">
        <div fxLayout="column" class="cell leftColumn">
        </div>
    
        <div fxLayout="column" class="cell rightColumn">
            <div fxLayout="row">
                <div class="rightCell tableHeader">
                    Beginner
                </div>
                <div class="rightCell tableHeader">
                    Elementary
                </div>
                <div class="rightCell tableHeader">
                    Intermediate
                </div>
                <div class="rightCell tableHeader">
                    Advanced
                </div>
                <div class="rightCell tableHeader">
                    Master
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row">
        <div fxLayout="column" class='cell leftColumn'>
            <div class="rightAlign tableLabel">
                C++
            </div>
            <div class="rightAlign tableLabel">
                C#
            </div>
            <div class="rightAlign tableLabel">
                Java
            </div>
            <div class="rightAlign tableLabel">
                Python
            </div>
            
        </div>

        <div fxLayout="column" class="cell rightColumn">
            <div fxLayout="row">
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
            </div>
            <div fxLayout="row">
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
            </div>
            <div fxLayout="row">
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
            </div>
            <div fxLayout="row">
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="set">
    <div class="subtitle">
        Web Development Languages
    </div>

    <div fxLayout="row">
        <div fxLayout="column" class="cell leftColumn">
        </div>
    
        <div fxLayout="column" class="cell rightColumn">
            <div fxLayout="row">
                <div class="rightCell tableHeader">
                    Beginner
                </div>
                <div class="rightCell tableHeader">
                    Elementary
                </div>
                <div class="rightCell tableHeader">
                    Intermediate
                </div>
                <div class="rightCell tableHeader">
                    Advanced
                </div>
                <div class="rightCell tableHeader">
                    Master
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row">
        <div fxLayout="column" class='cell leftColumn'>
            <div class="rightAlign tableLabel">
                HTML
            </div>
            <div class="rightAlign tableLabel">
                CSS
            </div>
            <div class="rightAlign tableLabel">
                TypeScript
            </div>
            <div class="rightAlign tableLabel">
                JavaScript
            </div>
            
        </div>

        <div fxLayout="column" class="cell rightColumn">
            <div fxLayout="row">
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
            </div>
            <div fxLayout="row">
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
            </div>
            <div fxLayout="row">
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
            </div>
            <div fxLayout="row">
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
                <div class="rightCell centerAlign">
                    <mat-icon>gps_not_fixed</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="set">
    <div class="subtitle">
        Educational Background
    </div>

    <div fxLayout="column">
        <div fxLayout="row">
            <div class="text table rightAlign">
                Junior High School
            </div>
            <div class="text table">
                Bohol Island State University - Main Campus
            </div>
        </div>
        <div fxLayout="row">
            <div class="text table rightAlign">
                Senior High School
            </div>
            <div class="text table">
                Tagbilaran City Science High School
            </div>
        </div>
        <div fxLayout="row">
            <div class="text table rightAlign">
                College
            </div>
            <div class="text table">
                Bohol Island State University - Main Campus
            </div>
        </div>
        <div fxLayout="row">
            <div class="text table rightAlign">

            </div>
            <div class="text table">
                [Currently studying Computer Engineering]
            </div>
        </div>
        
    </div>

</div>