.first{
    padding-top: 750px;
}

.set{
    padding-bottom: 500px;
    /* padding-left: 10%;
    padding-right: 10%; */
}

.subtitle{
    text-align: center;
    padding: 30px;
    font-size: xx-large;
}

.text{
    text-align: left;
    font-size:medium;
    line-height: 175%;
}

.indented{
    text-indent: 100px;
}

.table{
    flex: 2 2 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.rightAlign{
    text-align: right;
    font-size:medium;
    line-height: 175%;
}

.centerAlign{
    text-align: center;
    font-size:medium;
    line-height: 175%;
}

.cell{
    flex: 0 0 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.rightCell{
    flex: 0 0 100px;
    font-size:medium;
    line-height: 175%;
}

.tableHeader{
    transform: rotate(-15deg);
    text-align: left;
    text-indent: 20px;
}

.tableLabel{
    line-height: 200%;
}

.leftColumn{
    flex: 0 0 calc(50% - 200px);
}

.rightColumn{
    flex: 0 0 calc(50% + 200px);
}