.first{
    margin-top: 80vh;
}

.set{
    align-content: center;
    justify-content: center;
    margin-bottom: 60vh;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s
}

.set:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

.subtitle{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: xx-large;
    font-family: Candara;
}

.text{
    text-align: left;
    font-size:medium;
    line-height: 175%;
    font-family: Helvetica;
}

.indented{
    text-indent: 100px;
}

.rightAlign{
    text-align: right;
    font-size:medium;
    line-height: 175%;
}

.centerAlign{
    text-align: center;
    font-size:medium;
    line-height: 175%;
}

.cell{
    flex: 1 1 100px;
    /* padding-left: 40px;
    padding-right: 40px; */
}

.rightCell{
    flex: 0 0 100px;
    font-size:medium;
    line-height: 175%;
}

.tableHeader{
    transform: rotate(-15deg);
    text-align: center;
    /* text-indent: 10px; */
    font-family: Helvetica;
    font-weight: bold;
}

.tableLabel{
    line-height: 200%;
    font-family: Helvetica;
}

.column{
    flex: 0 0 calc(10%)
}

.row{
    padding-top: 10px;
}

.icon{
    text-align: center;
}

.graphSideSpacer{
    flex: 1 9 auto;
}

.edu{
    flex: 3 3 calc(70%)
}

.eduInner{
    line-height: 225%;
    flex: 2 2 calc(50%);
    padding-left: 20px;
    padding-right: 20px;
}

.eduSideSpacer{
    flex: 1 1 auto;
}

.about{
    flex: 2 2 calc(50% + 120px);
    line-height: 225%;
}

.aboutSideSpacer{
    flex: 2 2 calc(50% - 120px)
}

.leftColumn{
    flex: 1 1 calc(45%);
}

.rightColumn{
    flex: 1 1 calc(45%);
}

.bold{
    font-weight: bold;
}