.set{
    margin-bottom: 30vh;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s
}

.set:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.spacer{
    padding-bottom: 1px;
}

.subtitle{
    text-align: center;
    padding: 30px;
    font-size: xx-large;
}

.paragraphBox{
    height: 100px;
}

.form{
    padding-left: 20%;
    padding-right: 20%;
}

.error{
    color: red;
    text-align: center;
    font-size: small;
}