<div class="set">
    <div class="subtitle">
        Contact Me
    </div>

    <form fxLayoutAlign="stretch" fxLayout='column' class="form" [formGroup]="formGroup">
        <mat-form-field>
            <input matInput placeholder="Your Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Your Phone Number" formControlName="phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Your Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Message" formControlName="desc" class="paragraphBox"></textarea>
        </mat-form-field>
        <p *ngIf="showError" class="error">
            Whoops! All fields are required :/
        </p>
        <button mat-raised-button color="accent" [ngClass]="{'disabled-btn': disableButton}" (click)="onSubmit()">Leave Me A Message</button>
    </form>
</div>
