<div class="wrapper">
    <div class="space-wrapper">
        <div class="planet mercury">
            <div class="spots"></div>
            <div class="spots"></div>
            <div class="spots"></div>
            <div class="spots"></div>
            <div class="spots"></div>
            <div class="spots"></div>
            <div class="spots"></div>
        </div>

        <div class="planet venus"></div>

        <div class="planet mars">
            <div class="spots"></div>
            <div class="spots"></div>
            <div class="spots"></div>
            <div class="spots"></div>
            <div class="spots"></div>
        </div>

        <div class="planet jupiter">
            <div class="jupiter-spot"></div>
        </div>

        <div class="planet saturn">
            <div class="ring front"></div>
            <div class="ring back"></div>
        </div>

        <div class="planet uranus">
            <div class="ring front"></div>
            <div class="ring back"></div>
        </div>

        <div class="planet neptune"></div>
    </div>

    <div class="sky-wrapper">
        <div class="cloud">
            <div class="cloud-fluff"></div>
            <div class="cloud-fluff"></div>
            <div class="cloud-fluff"></div>
        </div>

        <div class="cloud">
            <div class="cloud-fluff"></div>
            <div class="cloud-fluff"></div>
            <div class="cloud-fluff"></div>
            <div class="cloud-fluff"></div>
            <div class="cloud-fluff"></div>
            <div class="cloud-fluff"></div>
        </div>

        <div class="cloud">
            <div class="cloud-fluff"></div>
            <div class="cloud-fluff"></div>
            <div class="cloud-fluff"></div>
        </div>
    </div>

    <div class="valley">   
        <div class="mountain back"></div>
        <div class="mountain front"></div>
        <div class="beach"></div>
        <div class="trees"></div>
        <div class="light"></div>
        <div class="land"></div>
        <div class="deer"></div>
    </div>
</div>