.header{
    position: fixed;
    width: 100%;
    transition: 0.3s;
    z-index: 2;
    box-shadow: black;
}

.balls{
    z-index: 5
}

.body{
    padding-top: 65px;
    z-index: 1;
    width: 100%;
}

html{
    width: 100%;
}

*{
    background-color: #ececec;
}