<div [style.top]="headerTop" [style.opacity]="headerOpacity" class="header">
  <app-header></app-header>
</div>

<div class="balls">
  <app-balls></app-balls>
</div>

<div class="parallax-wrapper">

  <div class="body">
    <app-body></app-body>
  </div>
  
  <div class="contact">
    <app-contact></app-contact>

    <div class="background" [style.transform]="parallax">
      <app-background></app-background>
    </div>
  </div>

</div>

<div class="floater">
  <button (click)="logPosition()">log position</button>
</div>